@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(255, 255, 255, 0.05),
      transparent 40%
    ),
    #000;
  color: #fff;
  font-family: Inter, system-ui, sans-serif;
}
